@border-style: 1px solid #e0e2e4;
@icon-size: 18px;

body {
  margin: 0;
}

.xss {
  font-size: 14px;
  line-height: normal;
  user-select: none;
  -moz-user-select: none;
  font-family: 'Source Sans Pro', Roboto, Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.xss-sheet {
  position: relative;
  overflow: hidden;
  height: 100%;
  line-height: 0;
}
.xss-dropdown {
  position: relative;

  .xss-dropdown-content {
    position: absolute;
    top: calc(~'100% + 5px');
    left: 0;
    z-index: 200;
    background: #fff;
    box-shadow: 1px 2px 5px 2px rgba(51,51,51,.15);
  }

  .xss-dropdown-title {
    padding: 0 5px;
    display: inline-block;
  }

  .xss-dropdown-header {
    .xss-icon:not(.arrow) {
      margin-left: 4px;
    }
    .xss-icon.arrow {
      width: 10px;
      margin-right: 4px;
      .arrow-down {
        left: -130px;
      }
    }
  }
}
/* resizer **/
.xss-resizer {
  position: absolute;
  z-index: 11;

  .xss-resizer-hover {
    background-color: rgba(75, 137, 255, .25);
  }
  .xss-resizer-line {
    position: absolute;
  }

  &.horizontal {
    cursor: row-resize;
    .xss-resizer-line {
      border-bottom: 2px dashed rgb(75, 137, 255);
      left: 0;
      bottom: 0;
    }
  }
  &.vertical {
    cursor: col-resize;
    .xss-resizer-line {
      border-right: 2px dashed rgb(75, 137, 255);
      top: 0;
      right: 0;
    }
  }
}
/* scrollbar */
.xss-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f4f5f8;
  opacity: 0;
  z-index: 12;
  &.horizontal {
    // right: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &.vertical {
    // bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &:hover {
    opacity: .85;
  }
}

/* xss-overlayer */
.xss-overlayer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  .xss-overlayer-content {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}

.xss-editor, .xss-selector {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* xss-selector */
.xss-selector {
  .xss-selector-area {
    position: absolute;
    border: 2px solid rgb(75, 137, 255);
    background: rgba(75, 137, 255, .1);
  }
  .xss-selector-clipboard, .xss-selector-autofill {
    position: absolute;
    background: transparent;
    z-index: 100;
  }
  .xss-selector-clipboard {
    border: 2px dashed rgb(75, 137, 255);
  }
  .xss-selector-autofill {
    border: 1px dashed rgba(0, 0, 0, .45); // #606060; // rgba(0, 0, 0, .2);
  }
  .xss-selector-corner {
    pointer-events: auto;
    position: absolute;
    cursor: crosshair;
    font-size: 0;
    height: 5px;
    width: 5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(75, 137, 255);
  }
}
.xss-editor {
  z-index: 20;
  .xss-editor-area {
    position: absolute;
    text-align: left;
    border: 2px solid rgb(75, 137, 255);
    line-height: 0;
    z-index: 100;
    pointer-events: auto;
  
    textarea {
      box-sizing: content-box;
      border: none;
      padding: 0 3px;
      outline-width: 0;
      resize: none;
      text-align: start;
      overflow-y: hidden;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      white-space: normal;
      word-wrap: break-word;
      line-height: 22px;
      margin: 0;
    }
  
    .textline {
      overflow: hidden;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.xss-item {
  user-select: none;
  background: 0;
  border: 1px solid transparent;
  outline: none;
  height: 26px;
  color: rgba(0, 0, 0, .9);
  line-height: 26px;
  list-style: none;
  padding: 2px 10px;
  cursor: default;
  text-align: left;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover, &.active {
    background: rgba(0, 0, 0, .08);
  }

  &.divider {
    height: 0;
    padding: 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .label {
    float: right;
    opacity: .8;
    font-size: .85em;
  }
}

.xss-suggest, .xss-contextmenu {
  position: absolute;
  box-shadow: 1px 2px 5px 2px rgba(51, 51, 51, 0.15);
  background: #fff;
  z-index: 100;
  max-height: 360px;
  width: 260px;
  pointer-events: auto;
  overflow: auto;
}

.xss-suggest {
  width: 200px;
}

.xss-toolbar {
  height: 40px;
  text-align: left;
  padding: 0 60px;
  border-bottom: 1px solid #e0e2e4;
  background: #f5f6f7;
  display: flex;

  .xss-toolbar-btn {
    flex: 0 0 auto;
    display: inline-block;
    border: 1px solid transparent;
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    margin: 6px 1px 0;
    padding: 0;
    text-align: center;
    border-radius: 2px;

    &:hover, &.active {
      background: rgba(0, 0, 0, .08);
    }
  }
}

.xss-toolbar-divider {
  display: inline-block;
  background: #e0e2e4;
  width: 1px;
  vertical-align: middle;
  height: 18px;
  margin: 12px 3px 0;
}

.xss-icon {
  width: 18px;
  height: 18px;
  margin: 1px 2px 2px 1px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  position: relative;
  display: inline-block;

  .xss-icon-img {
    background-image: url('../assets/sprite.svg');
    position: absolute;
    width: 262px;
    height: 444px;
    opacity: 0.56;

    &.undo {
      left: 0;
      top: 0;
    }
    &.redo {
      left: -1 * @icon-size;
      top: 0;
    }
    &.print {
      left: -2 * @icon-size;
      top: 0;
    }
    &.paintformat {
      left: -3 * @icon-size;
      top: 0;
    }
    &.clearformat {
      left: -4 * @icon-size;
      top: 0;
    }
    &.bold {
      left: -5 * @icon-size;
      top: 0;
    }
    &.italic {
      left: -6 * @icon-size;
      top: 0;
    }
    &.underline {
      left: -7 * @icon-size;
      top: 0;
    }
    &.strikethrough {
      left: -8 * @icon-size;
      top: 0;
    }
    &.text-color {
      left: -9 * @icon-size;
      top: 0;
    }
    &.fill-color {
      left: -10 * @icon-size;
      top: 0;
    }
    &.merge {
      left: -11 * @icon-size;
      top: 0;
    }
    &.align-left {
      left: -12 * @icon-size;
      top: 0;
    }
    &.align-center {
      left: -13 * @icon-size;
      top: 0;
    }
    &.align-right {
      left: 0;
      top: -1 * @icon-size;
    }
    &.align-top {
      left: -1 * @icon-size;
      top: -1 * @icon-size;
    }
    &.align-middle {
      left: -2 * @icon-size;
      top: -1 * @icon-size;
    }
    &.align-bottom {
      left: -3 * @icon-size;
      top: -1 * @icon-size;
    }
    &.textwrap {
      left: -4 * @icon-size;
      top: -1 * @icon-size;
    }
    &.autofilter {
      left: -5 * @icon-size;
      top: -1 * @icon-size;
    }
    &.formula {
      left: -6 * @icon-size;
      top: -1 * @icon-size;
    }
    &.arrow-down {
      left: -7 * @icon-size;
      top: -1 * @icon-size;
    }
    &.arrow-right {
      left: -8 * @icon-size;
      top: -1 * @icon-size;
    }
  }
}
