@border-style: 1px solid #e0e2e4;
@icon-size: 18px;

body {
  margin: 0;
}

.xss {
  font-size: 14px;
  line-height: normal;
  user-select: none;
  -moz-user-select: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  background: #fff;
}

.xss-sheet {
  position: relative;
  overflow: hidden;
  height: 100%;
  line-height: 0;
}
/* resizer **/
.xss-resizer {
  position: absolute;
  z-index: 11;
  
  .xss-resizer-hover {
    background-color: rgba(75, 137, 255, .25);
  }
  .xss-resizer-line {
    position: absolute;
  }
  
  &.horizontal {
    cursor: row-resize;
    .xss-resizer-line {
      border-bottom: 2px dashed rgb(75, 137, 255);
      left: 0;
      bottom: 0;
    }
  }
  &.vertical {
    cursor: col-resize;
    .xss-resizer-line {
      border-right: 2px dashed rgb(75, 137, 255);
      top: 0;
      right: 0;
    }
  }
}
/* scrollbar */
.xss-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f4f5f8;
  opacity: 0;
  z-index: 12;
  &.horizontal {
    // right: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &.vertical {
    // bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &:hover {
    opacity: .85;
  }
}

/* xss-overlayer */
.xss-overlayer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  .xss-overlayer-content {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}

/* xss-selector */
.xss-selector {
  position: absolute;
  // z-index: 11;
  left: 0;
  top: 0;
  .xss-selector-area {
    position: absolute;
    border: 2px solid rgb(75, 137, 255);
    background: rgba(75, 137, 255, .1);
    pointer-events: none;
  }
  .xss-selector-corner {
    position: absolute;
    cursor: crosshair;
    font-size: 0;
    height: 5px;
    width: 5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(75, 137, 255);
  }
}